<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="testsuit" verbose="1" >

    <test name ="testorder2">
        <classes>
            <class name = "Test2.com.MainTest" >
                <methods>
                    <include name = "TestCat"/>
                    <include name = "TestEat"/>
                    <include name = "TestFood"/>
                </methods>
            </class>
        </classes>

    </test>
    <test name="testorder">
      <!--  <classes>
            <class name="MainTest"/>
        </classes>

    -->
    </test>


</suite>
